// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #fff;

// ----------------------------------------------------------------------------
// Widget-image styles
// ----------------------------------------------------------------------------
.widget-slides {
  background-color: $background-color;
  padding: 0 0 !important;

  img {
    width:200%;
    height:100%;
  }
}
