// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$light-color:  rgb(147,143,195); //     rgb(184,183,218);
$background-color:  $light-color;
$title-color:       rgb(81,70,137);
$value-color: rgb(212,213,214) ;
$moreinfo-color: rgb(169,171,172); 
// ----------------------------------------------------------------------------
// Widget-weather styles
// ----------------------------------------------------------------------------
.widget-news {

  background-color: $background-color;
  vertical-align: baseline !important;
  color: $title-color;

  .headline-container {
    display: none;
    text-align: left;

    h1 {
      text-align: left;
      padding-left: 20px;
      line-height: 1em;
    }
  }

  .description {
    font-size: 1em;
    color: $value-color;
    padding-left: 1em;
    padding-right: 1em;
    text-align: left;
  }

  .heading{
    color: $title-color;
    font-size: 1em;
    text-align: left;
    padding-left: 1em;
  }

  hr {
    color: $title-color;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
  }
}
