// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #47bbb3;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);;
$moreinfo-color:    rgba(255, 255, 255, 0.8);;

// ----------------------------------------------------------------------------
// Widget-weather styles
// ----------------------------------------------------------------------------
.widget-news {

  background-color: $background-color;
  vertical-align: baseline !important;

  .headline-container {
    display: none;
    text-align: left;

    h1 {
      height: 1em;
      line-height: 1em;
      text-align: left;
      padding-left: 20px;
    }
  }

  .description {
    font-size: 1em;
    color: $moreinfo-color;
    padding-left: 1em;
    padding-right: 1em;
    width: 1060px;
    height: 150px;
    line-height: 150px;
    text-align: left;

    span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      overflow: hidden;
    }
  }

  .heading{
    color: #aaa;
    font-size: 1em;
    text-align: left;
    padding-left: 1em;
  }

  hr {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
  }
}
