// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  rgb(81,70,137);
$light-color:       rgb(184,183,218);
$value-color:       #fff;
$title-color:       #fff;
$full-color:  rgba(255, 255, 255, 1);
$moreinfo-color: rgb(169,171,172); 
// ----------------------------------------------------------------------------
// Widget-upcoming styles
// ----------------------------------------------------------------------------

.widget-upcoming {
  background-color: $background-color;
  vertical-align: top;
  color: #fff;

  .title {
    color: $title-color;
  }

  .class_title{
    color: $light-color;
    text-align: left;
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 8px;
    line-height: 1em;
  }

  .detail {
    color: $full-color;
    font-size: 22px; 
    text-align: left;
    line-height: 1em;
    padding-bottom: 10px;
    margin-left: 30px;
  }

  ul {
    clear: both;
    margin: 0 15px;
    margin-bottom: 1em;
  }

  .updated-at {
    color: $moreinfo-color;
  }
}
