// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  rgb(81,70,137);
$light-color:       rgb(184,183,218);
$full-color:  rgba(255, 255, 255, 1);
$moreinfo-color: rgb(169,171,172); 
// ----------------------------------------------------------------------------
// Widget-forecast styles
// ----------------------------------------------------------------------------
.widget-title {

    color: rgba(0, 0, 0, 0.3);
    font-size: 15px;
    text-align: left;
    position: absolute;
    bottom: 5px;
}

.widget-forecast {

  background-color: $background-color;
  padding-top: 15px !important;
  padding-left: 20px !important;

  h1 {
    margin-bottom: 0px;
  }

  .updated-at {
    color: $moreinfo-color;
    bottom: 5px;
    right: 10px;
    left: auto;
  }

  .title {
    color: $light-color;
    text-align: left;
    font-size: 25px;
    margin-bottom: 10px;
  }

  .temp {
    color: $full-color;
    text-align: left;
    font-size: 75px;
  }

  .now_wrapper {
    margin-left: 150px;
  }

  .summary {
    color: $full-color;
    text-align: left;
    vertical-align: middle;
    font-size: 20px;
  }

  .forecast-icon {
    float: left;
    text-align: left;
    margin-right: 20px;
  }

  #current_icon {
    margin-top: 20px;
  }

  .more-info {
      color: $moreinfo-color;
  }
  
  .widget-title {
      color: $moreinfo-color;
  }
}
